html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  height: 65px;
  width: 100vw;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  color: white;
  letter-spacing: 5px;

  @media only screen and (max-width: 600px) {
    width: 100vw;
  }
}

.navbar-title {
  display: flex;
  justify-content: center;
  padding: 0 12px 0 12px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 28px;

  @media only screen and (max-width: 600px) {
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-components {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 4px;
  margin: 4px;
  width: 75%;
  font-size: 24px;
  text-align: center;
  border-radius: 16px;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  margin: 4px;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: rgb(106, 167, 242);
  cursor: pointer;
}

.result {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 4px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 16px;
  width: 150px;
  cursor: pointer;
  text-align: center;
}

.result:hover {
  background-color: lightgray;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(106, 167, 242, 0.5);
  height: 400px;
  width: 300px;
  margin-top: 10px;
  border-radius: 50%;
}

.card-title {
  font-size: 24px;
  margin-bottom: 4px;
}

.card-city {
  margin-top: 4px;
  margin-bottom: 0;
}

.card-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-icon {
  width: 100px;
  margin: 0;
  margin-top: -20px;
}

.card-weather-type {
  top: 15px;
  margin-top: -15px;
  margin-bottom: 8%;
}

.card-temperature-div {
  display: flex;
  align-items: center;
}

.card-temperature {
  font-size: 1.4rem;
  color: red;
  margin-bottom: 4px;
  margin-top: 0;
}

.card-feels-like {
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 8px;
}

.card-rain {
  margin: 8px;
}

.card-rain-amount {
  color: blue;
  font-size: 1.2rem;
  margin-left: 5px;
}

.card-wind-div {
  display: flex;
}

.card-wind {
  font-size: 1.2rem;
  margin: 0 5px 0 5px;
}
